.containerlistfilmshow {
    width: 100%;
    display: flex;

    .contentlistfilmshow {
        width: 100%;

        .filmlist {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            flex-basis: 25%;

            .film {
                width: 19%;
                height: auto;                
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-wrap: wrap;
                text-decoration: none;
                
                p {                                        
                    color: greenyellow;
                    font-size: 1em;                                        
                    font-weight: bold;                                        
                    text-align: center;                                                            
                }

                .imgListShow {
                    min-width: 100%;
                    max-width: 100%;
                    max-height: 350px;
                    min-height: 350px;
                    width: 100%;                    
                    padding-top: 14px;
                    opacity: 0.8;
                }
            }
        }
    }
}