$colorText: orange;

.containerFavoFilm {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 50px;

    .nameCate {
        width: 100%;
        color: $colorText;
        font-weight: bold;
        border-left: 3px solid $colorText;
        height: auto;

        .text {
            padding-left: 10px;
            font-size: 1.3em;
            text-transform: uppercase;
        }
    }

    .contentFavoFilm {
        width: 100%;
        padding-top: 10px;

        .listAll {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;

            .film {
                width: 19%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                flex-wrap: wrap;
                text-decoration: none;
                padding-left: 10px;

                .txtFilmName {
                    color: greenyellow;
                    font-size: 1.1em;
                    width: 100%;
                    font-weight: bold;
                    text-decoration: none;
                    text-align: center;
                }

                .imgListShow {
                    min-width: 100%;
                    max-width: 575px;
                    max-height: 350px;
                    min-height: 350px;
                    width: 100%;
                    padding-top: 14px;
                    opacity: 0.8;
                }
            }

            .removeFav {                
                margin-top: -10px;
                background: red;
                border: 3px solid greenyellow;
                font: 700 21px/20px sans-serif;                
                cursor: pointer;
                border-radius: 10em;            
                transition: background 0.5s;                            

                &:hover{
                    background: greenyellow;
                    font: 1000 21px/20px sans-serif;                      
                }
            }


        }
    }
}